#token {
    width: 65px;
    height: 65px;
    position: absolute;
    background-color: red;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.mazeRow {
    display: flex;
    flex-direction: row;
}

.borderWall {
    height: 65px;
    width: 65px;
    border: 2px solid black;
}

#start {
    height: 65px;
    width: 65px;
    background-color: aqua;
}

.blankSpace {
    height: 65px;
    width: 65px;
}

#finish {
    height: 65px;
    width: 65px;
    background-color: blue;
}

body {
    background-image: url(images/art.svg);
    background-repeat: no-repeat;
}