#token {
    width: 65px;
    height: 65px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.mazeRow {
    display: flex;
    flex-direction: row;
}

.borderWall {
    height: 65px;
    width: 65px;
    border: 2px solid black;
}

#start {
    height: 65px;
    width: 65px;
    background-color: white;
}

.box {
    height: 65px;
    width: 65px;
    background-color: aqua;
    border: 1px dashed black;
}

.blankSpace {
    height: 65px;
    width: 65px;
}

#finish {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid blue;
}

body {
    background-image: url(images/art.svg);
    background-repeat: no-repeat;
}

.newblock {
    height: 65px;
    width: 65px;
    background-color: white;
}

.win {
    background-image: url("images/snowfall.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 300px;
}